body {
  margin: 0;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  position: relative;
  /* text-align: center; */
}

.sales {
  position: relative;
  margin: 40px auto;
  padding: 20px;
  width: 370px;
  height: 900px;
  background-color: #f6f6f7;
}

.heading {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  margin: 0;
  font-size: 30px;
  padding-bottom: 20px;
}

.heading-h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  margin: 0;
  font-size: 26px;
}

.sales-filter {
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px -7px rgba(198, 193, 193, 1);
  -moz-box-shadow: 0px 5px 20px -7px rgba(198, 193, 193, 1);
  box-shadow: 0px 5px 20px -7px rgba(198, 193, 193, 1);
  padding: 20px;
}

.input {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #999;
  background-color: #f6f6f7;
}

.label {
  font-family: 'Roboto', sans-serif;
  color: #666;
  padding: 10px 0;
  display: inline-block;
}

.button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  background-color: #212125;
  color: #fff;
  border: 3px solid #000;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.button-link {
  background-color: transparent;
  color: #111;
  border: none;
}

.button-refresh-data {
  position: absolute;
  right: 0;
  top: 3px;
}

.input-company {
  display: block;
  position: relative;
  width: 100%;
}

.input-sales {
  position: relative;
  display: block;
  width: 100px;
}

.button-sales {
  margin-top: 20px;
  width: 100%;
}

.loading-spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 20;
}

.loading-spinner div {
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.loading-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #777;
  margin: -3px 0 0 -3px;
}

.loading-spinner div:nth-child(1) {
  animation-delay: -0.036s;
}

.loading-spinner div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.loading-spinner div:nth-child(2) {
  animation-delay: -0.072s;
}

.loading-spinner div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.loading-spinner div:nth-child(3) {
  animation-delay: -0.108s;
}

.loading-spinner div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.loading-spinner div:nth-child(4) {
  animation-delay: -0.144s;
}

.loading-spinner div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.loading-spinner div:nth-child(5) {
  animation-delay: -0.18s;
}

.loading-spinner div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.loading-spinner div:nth-child(6) {
  animation-delay: -0.216s;
}

.loading-spinner div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.loading-spinner div:nth-child(7) {
  animation-delay: -0.252s;
}

.loading-spinner div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.loading-spinner div:nth-child(8) {
  animation-delay: -0.288s;
}

.loading-spinner div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination-item {
  font-size: 16px;
  font-weight: bold;
  color: #007b94;
  padding: 7px;
  cursor: pointer;
  position: relative;
  margin: 0 2px;
}

.pagination-item.active {
  position: relative;
  left: 0;
  top: 0;
  color: #fff;
  background-color: #007b94;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 7px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.pagination {
  text-align: center;
}

.pagination-prev {
  position: relative;
  top: 2px;
  color: #007b94;
  cursor: pointer;
}

.pagination-prev svg {
  fill: #007b94;
}

.pagination-next {
  position: relative;
  top: 2px;
  color: #007b94;
  cursor: pointer;
}

.pagination-next svg {
  fill: #007b94;
}

.disabled .pagination-prev svg {
  fill: #777;
}

.disabled .pagination-next svg {
  fill: #777;
}

.table {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  -webkit-box-shadow: 0px 5px 20px -7px rgba(198, 193, 193, 1);
  -moz-box-shadow: 0px 5px 20px -7px rgba(198, 193, 193, 1);
  box-shadow: 0px 5px 20px -7px rgba(198, 193, 193, 1);
  table-layout: fixed;
}

.table td, .table th {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.table th {
  color: #777;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.table tr:last-child td {
  border-bottom: none;
}

.table tbody th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.table tbody tr td:last-child {
  text-align: right;
}

.p-relative {
  position: relative;
}